<IfModule mod_rewrite.c>  

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond $1 !^(index\.php|images|robots\.txt)

RewriteRule ^(.*)$ /USEPJournalViewer/index.php/$1 [L]

</IfModule>

<IfModule mod_php5.c>

php_value upload_max_filesize "999M"
php_value post_max_size "999M"

</IfModule>

<IfModule mod_php4.c>

php_value upload_max_filesize "999M"
php_value post_max_size "999M"

</IfModule>